<h1>List of Books</h1>

<p>
  Anything I write is treated literally.
  Brit says, "Double quotes don't need to be escaped anymore, see?"
  <%
    nums = [1,2,3,4]
    nums.each do |x|
      puts x + 1
    end
  %>
  2 + 2 == <%= 2 + 2 %>
</p>

<ul>
  <% @books.each do |book| %>
    <li>
      <a href="/books/<%= book.id %>">
        <%= book.title %>
      </a>
    </li>
  <% end %>
</ul>

<a href="/books/new">Add a new book!</a>
