<h1>Add your book here</h1>

<form action="/books" method="POST">
  <input type="text" placeholder="Author" name="author" /> <br />
  <input type="text" placeholder="Title" name="title" />  <br />
  <textarea name="snippet" rows=5 cols=20>Snippet</textarea> <br />
  <input type="submit" value="Add Book!" />
</form>

<a href="/books">SAVE ME!!!!</a>
